.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.review-meta-head{
  text-align: left;
}
.review-meta, .review-date,.review-meta-head{
  font-size: 11px;
  color: gray;
}
.review-text{
  text-align: left;
  color: #311f44;
  font-size: 13px;
}
.link{
  text-decoration: none;
}
.landing-title{
  color: #566834;
  font-weight: bold;
  font-family: monospace;
}
.recent-reviews-title{
  color: #566834;
  font-size: 13px;
  font-weight: bold;
  font-family: monospace;
}
.voteIcon{
  color: #9f8888;
}
.search-button{
  margin-left: -15px;
}
.landing-exp{
  color: #311f44;
  font-size: 14px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
